* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  padding: 20px 10%;
  background: #111827;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.btn {
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 80px 10%;
  text-align: center;
}

.skills-container {
  margin-top: 20px;
}

.skills-container span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111827;
}